body {
  font-family: 'Droid Sans', arial;
}

.members-list{
  border: solid 1px #d0d3d4;
  border-top: solid 3px #007672;

  .members-list__title {
    text-transform: uppercase;
    color: #999999;
  }

  .members-list__team-page {
    color: #536663;
    padding: 4px 10px;
    line-height: 1.1;
    cursor: pointer;

    span {
      text-transform: uppercase;
      font-size: 10px;
    }
    .fa {
      vertical-align: middle;
    }
    &:hover {
      background: #e2f4ea;
    }
  }
  
  .members-list__content {
    
    .member-list-item {
      padding: 16px 10px;
      height: 72px;

      .member-list-item__avatar,
      .member-list-item__remove,
      .member-list-item__add-btn {
        height: 40px;
        line-height: 40px;
        width: 40px;
        overflow: hidden;
        text-align: center;

        img {
          display: block;
          width: 100%;
        }
      }

      .member-list-item__remove {
        display: none;
        color: #ff8951;
        background: #fff;
        cursor: pointer;
        border: solid 1px #fff; 

        &:hover {
          border-color: #ff8951; 
        }
      }

      &:hover {
        background: #e2f4ea;

        .member-list-item__avatar {
          display: none;
        }
        .member-list-item__remove {
          display: block;
        }
      }

      &.member-list-item--add {
        .member-list-item__add-btn {
          color: #007672;
          cursor: pointer;
          background: #e2f4ea;
        }
        
        &.member-list-item--add--view {
          cursor: pointer;

          .member-list-item__content {
            color: #007672;
            max-width: 150px;
          }
        }

        &:hover {
          .member-list-item__add-btn {
            background: #fff;
          }
        }
      }

      &.member-list-item--member {

      }

      .member-list-item__content {
        margin-left: 10px;
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
      }

    }

  }
}